@charset "utf-8";
/* CSS Document */
img{
	display: block;
}
.cl1{
	height: 180px;
	width: 200px;
	margin-top: 40px;
	margin-left: 20px;
}
.cl2{
	height: 180px;
	width: 200px;
	margin-top: 20px;
	margin-left: 20px;
}
.cl3{
	height: 180px;
	width: 200px;
	margin-top: 20px;
	margin-left:20px;
}
#cl1{
	background:white;
	width:900px;
	height:290px;
	float: left;
}
#cl1 h3{
	margin-left: 260px;
	margin-top:-180px;
}
#cl1 p{
	font-size:18px;
	margin-top:20px;
	margin-left:260px;
	margin-right:30px;
	letter-spacing:1px;
	text-indent: 2em;
	line-height: 28px;
	text-align: justify;
}
#cl2{
	background:white;
	width:900px;
	height:280px;
	float: left;
}
#cl2 h3{
	margin-left:260px;
	margin-top: -180px;
}
#cl2 p{
	font-size:18px;
	margin-top:20px;
	margin-left:260px;
	margin-right: 30px;
	letter-spacing:1px;
	text-indent: 2em;
	line-height: 28px;
	text-align: justify;
}
#cl3{
	background:white;
	width: 900px;
	height:280px;
	float: left;
}
#cl3 h3{
	margin-left: 260px;
	margin-top:-180px;
}
#cl3 p{
	font-size:18px;
	margin-top:20px;
	margin-left:260px;
	margin-right:30px;
	letter-spacing:1px;
	text-indent:2em;
	line-height:28px;
	text-align:justify;
}